@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bartle&display=swap');
@import "./styles/responsive.css";

body {

  
body {

  background-color: #00091C;
  background: #000715;
  font-family: 'JetBrains Mono';
  color: white;
  display: flex;
  padding:0;
  margin: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* src/styles/fonts.css */
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* azeret-mono-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Azeret Mono';
  font-style: normal;

  src: url('../fonts/azeret-mono.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'B612 Mono';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/b612-mono.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* nanum-gothic-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/nanum-gothic-v26-latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Jaldi';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/jaldi-v14-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* Pure CSS */
 
.headerRight {
.headerRight {

  display: flex;
  align-items: center;
  justify-content: center;
}

.headerRight a {
  height: 32px;

  margin: 10px 13px;

  color: white;
  transition-duration: 0.4s;
  font-size: 26px;
  width: 32px;
}

.headerRight a:hover {
  color: #EF7722;
}


/* Header Top most */

.headerTopMost {

  display: flex;

  background-color: #00091C;
  color: red;


  /* width: 100%; */
  /* position: fixed; */



  justify-content: space-between;
  font-family: "Nanum Gothic";

  color: #FFFFFF;
  display: flex;
  align-items: center;
  font-size: 20px;
height: 250px;
}

.headerTopMostLeft,.headerRight,.headerTopMostCenter{
  position: relative;

}
.headerTopMostLeft li {
  list-style-type: none;

  background-color: #004C6B99;
}


.headerTopMostCenter li{
  color: #33AAFF;
  font-weight: 800;
  font-size: 20px;
}

.headerTopMost img {
  height: 10vh;
  width: 100%;
  flex-wrap: wrap;
  overflow: hidden;
}

/* Curvy Toggle Animation for Home/About Capsule */
.box-border {
  position: relative;
  overflow: hidden;
}

.box-border::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: #0D628380;
  border-radius: 18px;
  transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  z-index: 1;
}

.box-border:has(a[href="/"].active)::before {
  transform: translateX(0%);
}

.box-border:has(a[href="/about"].active)::before {
  transform: translateX(100%);
}

/* Alternative method using data attribute */
.box-border[data-active="home"]::before {
  transform: translateX(0%);
}

.box-border[data-active="about"]::before {
  transform: translateX(100%);
}


/*  */

.headerTopMostRight a i {
  cursor: pointer;
  font-size: 33px;
}

.joinEvent button {
  font-family: "Nanum Gothic";
  border-radius: 8px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  border: 2px solid #FFC885;
  min-width: fit-content;
  line-height: 1.5;
  white-space: nowrap;
  padding: 8px 15px;
  height: auto;
  min-height: 40px;
}

.codingEmperorAppreciationEmoji:nth-last-child {
  border: 2px solid red;
  animation: emperor 2s linear infinite;

}
/* .headerTopMostRight a:nth-child(1){color: rgb(166, 81, 81);}
.headerTopMostRight a:nth-child(2){color: skyblue;}
.headerTopMostRight a:nth-child(3){color: red;}
.headerTopMostRight a:nth-child(4){color: blue;} */

@keyframes emperor {
  from {

    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
    text-decoration: dotted;
  }
}

/* about us banner */

.aboutUsDescBanner{

  background-image: url(src/assets/AboutUsPage/aboutusbanner.png);
  background-position:center 40%;
background-size: cover;
  background-repeat: no-repeat;
    height: 232px;
width:1120px;
border-radius: 20px;


  
}

/* Footer section styling */


 .CouncilLoginLink{
  margin-top: 100px;
 }

.binaryCode{

  font-family: "BBH Sans Bartle", sans-serif;
font-weight: 1000;

font-size: 300px;


/* 
.CouncilLoginLink{
  background-image: url("./assets/codoko_binary.png");
  background-size:cover;
  padding-top: 50px;
  background-position:center;
  background-repeat: no-repeat;
  background-color: #00091C;
  color: red;
  background-blend-mode: overlay;
  width: 100%;
  font-size: 20px;

    height: 278.564208984375px;
} */
 .CouncilLoginLink{
  margin-top: 20px;
 }


.containerUpdateEventImage{
  background-image: url("src/assets/eventBanner.png");
  background-size: cover;
  background-position: center;
  display: flex;
    /* filter: brightness(40%); darkens image */
  align-items: center;
  justify-content: center;
}

.floatingText{
  text-shadow: 3px 3px black;
  position: absolute;
  font-size: 35px;
  transform: translate(-50%,-50%)
}
.block{
  margin:7px 2px;
}




/* backgroundText */

.backgroundText{

  font-family: "BBH Sans Bartle", sans-serif;
  font-weight: 400;
  font-style: normal;

}

.binaryCode{
  font-family: "BBH Sans Bartle", sans-serif;
font-weight: 1000;

}

/* Certification System Styling - Pure CSS */

.CertificateDoc {
  position: relative;

  overflow: hidden;
  border-radius: 8px;
  isolation: isolate;
}

/* Background image with blur */
.CertificateDoc::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("/src/assets/CertificatePage/certificate_bg.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(20px);
  transform: scale(1.05);
  z-index: 0;
}

/* Optional overlay for contrast */
.CertificateDoc::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

/* Certificate content */
.CertificateDoc > .CertificateCard {
  position: relative;
  z-index: 2;
}


#downloadBtn{
  font-size: 30px;
}

.rightNavigation a i{
 font-size: 28px;
 margin: 2px 04px;

}
